AI_API_KEY=
AI_BASE_URL=
AI_MODEL=
XLAYER_RPC_URL=https://testrpc.xlayer.tech/terigon
XLAYER_MAINNET_RPC_URL=https://rpc.xlayer.tech
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_API_PASSPHRASE=
NEXT_PUBLIC_RISK_REGISTRY_ADDRESS=
DEPLOYER_PRIVATE_KEY=
